.header {
    right: 0;
    position: fixed;
    min-width: 5vw;
    height: 100vh;
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    z-index: 2;
/*    background-color: yellow;*/
}