.header {
    right: 0;
    position: fixed;
    height: 100vh;
    width: 10vw;
    display: flex;
    border: 1px solid blue;
    justify-content: flex-end;
    align-items: center;
    background-color: #b67c7c;
    z-index: 2;
}