@import "./../common/styles/sass/variables";

.contactsBlock {
  min-height: 100vh;
  overflow-y: hidden;
  @media screen and (max-width: 930px) {
    padding-bottom: 20px;
  }

  .contactsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .container {
      width: 90%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .row {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        @media screen and (max-width: 930px) {
          flex-direction: column;
          align-items: center;
        }

        .column {
          position: relative;
          padding-right: 15px;
          padding-left: 15px;
        }

        .columnLeft {
          width: 30%;
          @media screen and (max-width: 930px) {
            width: 90%;
          }

          .title {
            font-size: 26px;
            font-weight: 600;
            text-transform: uppercase !important;
            padding-bottom: 1rem !important;
            margin-bottom: 0 !important;
            line-height: 1.2;
            margin-top: 0;

          }

          .meText {
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 1rem !important;
            margin-top: 0;

          }

          .mail, .call {
            display: flex;
            flex-direction: row;
            font-weight: 600;
            line-height: 21px;
            padding-top: 5px;
            font-family: 'Open Sans', sans-serif;
            position: relative !important;
            margin-top: 0;
            margin-bottom: 1rem;

            .fa_icon {
              font-size: 20px;
              color: $primaryColor;
            }

            .mailMeColumn, .callMeColumn {
              display: flex;
              flex-direction: column;
              padding-left: 10px;
              font-size: 15px;

              .mailMeTitle, .callMeTitle {
                text-transform: uppercase;
                opacity: .8;
                font-weight: 400;
                line-height: 21px;
              }

            }
          }

        }

        .columnRight {
          width: 60%;
          @media screen and (max-width: 930px) {
            width: 90%;
          }

          .contactForm {
            box-sizing: border-box;

            .row {
              position: relative;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              flex-wrap: wrap;
              margin-right: -15px;
              margin-left: -15px;
              @media screen and (max-width: 930px) {
                flex-direction: column;
                align-items: center;
              }

              .inputsBlock {
                width: 100%;
                display: flex;
                flex-direction: row;
                @media screen and (max-width: 715px) {
                  flex-direction: column;
                  width: 100%;
                  align-items: center;
                }

                .formColumn {
                  position: relative;
                  width: 100%;
                  padding-right: 15px;
                  padding-left: 15px;
                  @media screen and (max-width: 930px) {
                    width: 90%;
                  }

                  .formInput {
                    border: 1px solid $mainBckgrdColor;
                    width: 70%;
                    background: $otherBckgrdColor;
                    color: $textColor;
                    padding: 11px 26px;
                    margin-bottom: 30px;
                    border-radius: 30px;
                    outline: none !important;
                    transition: .3s;
                    overflow: visible;

                    &:disabled {
                      opacity: 0.5;
                    }

                    @media screen and (max-width: 715px) {
                      width: 90%;
                    }
                    @media screen and (max-width: 620px) {
                      width: 80%;
                    }

                  }
                }
              }

              .formColumn {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                @media screen and (max-width: 930px) {
                  width: 90%;
                }

                .formTextarea {
                  border: 1px solid $mainBckgrdColor;
                  background: $otherBckgrdColor;
                  color: $textColor;
                  width: 91%;
                  padding: 12px 26px;
                  margin-bottom: 20px;
                  height: 160px;
                  overflow: hidden;
                  border-radius: 30px;
                  outline: none !important;
                  transition: .3s;
                  resize: vertical;
                  font-family: 'Open Sans', sans-serif;
                  font-size: 15px;

                  &:disabled {
                    opacity: 0.5;
                  }

                  @media screen and (max-width: 620px) {
                    width: 80%;
                  }
                }

                .button {
                  border: 1px solid $primaryColor;
                  width: 260px;
                  height: 55px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  line-height: 1.4;
                  border-radius: 35px;
                  text-overflow: ellipsis;
                  text-align: center;
                  cursor: pointer;
                  vertical-align: middle;
                  transition: background-color 300ms ease-out;
                  text-transform: uppercase;
                  text-decoration: none;
                  position: relative;
                  z-index: 1;
                  padding: 16px 70px 16px 35px;
                  font-weight: 600;
                  color: $textColor;
                  background-color: transparent;

                  &:disabled {
                    opacity: 0.5;
                  }

                  span {
                    position: absolute;
                    right: 50px;
                    left: 0;
                    font-weight: 600;
                    line-height: 1.4;
                    font-size: 15px;
                  }

                  &:hover {
                    background-color: $primaryColor;
                  }

                  .button_icon {
                    border: 1px solid $primaryColor;
                    font-size: 25px;
                    background-color: $primaryColor;
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $textColor;
                    border-radius: 50%;
                    fill: $textColor;
                    padding: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #1f1f20;
  -webkit-box-shadow: 0 0 0 1000px $primaryColor inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}






