.contactsBlock {
    min-height: 100vh;
}

.contactsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media screen and (max-width: 930px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

}

.column {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.columnLeft {
    width: 30%;
}

.columnRight {
    width: 60%;

}

@media screen and (max-width: 930px) {
    .columnLeft {
        width: 90%;
    }

    .columnRight {
        width: 90%;

    }

}

.contactForm {
    box-sizing: border-box;

}

.inputsBlock {
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 715px) {
    .inputsBlock {
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
}

.formColumn {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 930px) {
    .formColumn {
        width: 90%;
    }
}

.formInput {
    border: 1px solid #111;
    width: 70%;
    background: #252525;
    color: #fff;
    padding: 11px 26px;
    margin-bottom: 30px;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
    overflow: visible;

}

@media screen and (max-width: 715px) {
    .formInput {
        width: 90%;
    }
}

@media screen and (max-width: 620px) {
    .formInput {
        width: 80%;
    }
}

.formTextarea {
    border: 1px solid #111;
    background: #252525;
    color: #fff;
    width: 91%;
    padding: 12px 26px;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;
    border-radius: 30px;
    outline: none !important;
    transition: .3s;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}

@media screen and (max-width: 620px) {
    .formTextarea {
        width: 80%;
    }
}

.title {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase !important;
    padding-bottom: 1rem !important;
    margin-bottom: 0 !important;
    line-height: 1.2;
    margin-top: 0;

}

.meText {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem !important;
    margin-top: 0;

}

.mail, .call {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    line-height: 21px;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    position: relative !important;
    margin-top: 0;
    margin-bottom: 1rem;

}

.mailMeColumn, .callMeColumn {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 15px;
}


.mailMeTitle, .callMeTitle {
    text-transform: uppercase;
    opacity: .8;
    font-weight: 400;
    line-height: 21px;
}

.fa_icon {
    font-size: 20px;
}

