.container {
    min-height: 100vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

}