span {
    color: white;
}

.description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

@media screen and (max-width: 1059px) {
    .description {
        justify-content: center;
    }

    h1 {
        padding-left: 0;
        font-size: 38px;
        line-height: 48px;
        margin: 29px 0 13px;
    }

}

.avatar_block {
    padding: 10px;
    z-index: 2;
}

.avatar {
    max-height: 340px;
    border-radius: 10%;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);

}

.text {
    padding: 20px;
    color: white;
    max-width: 60%;
}

.text_up {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    margin: 18px 0 10px;
    position: relative;
    text-transform: uppercase!important;
}

.button {
    max-width: 155px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    border-radius: 35px;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;

}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.button_icon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    max-width: 55px;
    max-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
}

p {
    margin: 15px 0 28px;
    font-size: 16px;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
