.photo {
    z-index: 2;
}
.avatar {
    max-height: 400px;
    border-radius: 10%;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}
.text {
    border: 1px solid orange;
    padding: 20px;
    color: white;
}
.text_up {
    color: #ffb400;
}

.button {
    border: 1px solid #ffb400;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;

}

.button:hover {
    background-color: #ffb400;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.button_icon {
    background-color: #ffb400;
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    max-width: 55px;
    max-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
}
