span {
    color: white;
}

.description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;

}

.avatar_block {
    max-width: 35%;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
}

.avatar {

    max-width: 100%;
    border-radius: 10%;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);

}

.text {
    max-width: 55%;
    color: white;
}

.text_up {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    margin: 18px 0 10px;
    position: relative;
    text-transform: uppercase !important;
}

p {
    margin: 15px 0 28px;
    padding-right: 10%;
    font-size: 16px;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.color_block {
    z-index: 1;
    position: absolute;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;


}

@media screen and (max-width: 700px) {
    .description {
        flex-direction: column;

    }

    .color_block {
        z-index: -1;
    }

    .avatar_block {
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
        max-width: none;
        padding-right: 0;
        padding-left: 0;
    }

    .avatar_block img {
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        object-fit: cover;
        border: 4px solid #252525;
    }

    .text {
        max-width: 80%;
        text-align: center;
    }

    p {
        padding-right: 0;
        font-size: 14px;
        line-height: 28px;
    }

}
