.button {
    max-width: 155px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    border-radius: 35px;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 300ms ease-out;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
.button_icon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    max-width: 55px;
    max-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #ffffff;
    border-radius: 50%;
}