@import "./../../../common/styles/sass/variables";
.button {
  border: 1px solid $primaryColor;
  max-width: 155px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  border-radius: 35px;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  transition: background-color 300ms ease-out;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-weight: 600;
  color: $textColor;
  background-color: transparent;
  span{
    position: absolute;
    right: 50px;
    left: 0;
  }
  &:hover{
    background-color: $primaryColor;
  }
  a {
    color: $textColor;
    text-decoration: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;


    .button_icon {
      border: 10px solid $primaryColor;
      font-size: 25px;
      background-color: $primaryColor;
      position: absolute;
      right: -1px;
      top: -1px;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $textColor;
      border-radius: 50%;
      fill: $textColor;
      padding: 5px;
    }
  }
}
