.skillsBlock {
    min-height: 100vh;
    background-color: #111;
    z-index: 1;
    padding-bottom: 20px;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.skills {
    min-width: 100%;
    border: 1px solid cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

@media screen and (max-width: 1076px) {
    .skills {
        justify-content: center;
    }
}
