.skillsBlock {
    color: black;
}

.skillsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}
.skills {
    width: 100%;
    border: 1px solid cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
