@import "./../common/styles/sass/variables";

.skillsBlock {
  min-height: 100vh;
  padding-bottom: 20px;
  overflow-y: hidden;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .meInfo {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: flex;
      box-sizing: border-box;

      width: 90%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;

      }

      .personalInfo {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: block;
        @media screen and (max-width: 900px) {
          flex: 0 0 80%;
          max-width: 80%;

        }

        .personalInfoInner {
          display: flex;
          flex-wrap: wrap;

          .personalInfoTitle {
            flex: 0 0 100%;
            max-width: 100%;
            position: relative;
            width: 100%;

            h3 {
              padding-bottom: 22px;
              font-size: 26px;
              font-weight: 600;
              text-transform: uppercase !important;
              margin-bottom: 0 !important;
              line-height: 1.2;
              margin-top: 0;
            }
          }

          .personalInfoColumns {
            display: flex;
            flex-direction: row;
            height: 100%;
            @media screen and (max-width: 500px) {
              flex-direction: column;
              align-items: start;
              justify-content: start;

            }

            .personalInfoColumn {
              flex: 0 0 50%;
              max-width: 50%;
              position: relative;
              width: 100%;
              @media screen and (max-width: 500px) {
                flex: 0 0 80%;
                max-width: 80%;

              }

              ul {
                font-family: 'Open Sans', sans-serif;
                padding-left: 0;
                list-style: none;
                margin-top: 0;
                margin-bottom: 1rem;

                li {
                  padding-bottom: 20px;
                  box-sizing: border-box;
                  display: list-item;
                  text-align: -webkit-match-parent;
                  padding-left: 0;
                  list-style: none;

                  .titleInfo {
                    opacity: .8;
                    text-transform: capitalize;

                  }

                  .valueInfo {
                    font-weight: 600;
                    display: inline-block !important;
                  }
                }
              }
            }
          }
        }
      }

      .achievements {
        margin-top: 0 !important;
        flex: 0 0 40%;
        max-width: 40%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        @media screen and (max-width: 900px) {
          flex: 0 0 80%;
          max-width: 80%;

        }

        .achievementsInner {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
          @media screen and (max-width: 500px) {
            flex-direction: column;
            align-items: center;

          }

          .achievementItem {
            flex: 0 0 40%;
            max-width: 40%;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            @media screen and (max-width: 500px) {
              flex: 0 0 80%;
              max-width: 80%;

            }

            .achievementItemInner {
              margin-bottom: 30px;
              padding: 20px 20px 20px 20px;
              border-radius: 5px;
              border: 1px solid $otherBckgrdColor;


              h3 {
                display: inline-block;
                margin: 0;
                font-size: 50px;
                font-weight: 700;
                font-family: 'Poppins', sans-serif;
                position: relative !important;
                line-height: 1.2;
                color: $primaryColor;

                &::after {
                  content: '+';
                  position: absolute;
                  right: -24px;
                  font-size: 33px;
                  font-weight: 300;
                  top: 2px;
                }
              }

              p {
                padding-left: 20px;
                font-family: 'Open Sans', sans-serif;
                text-transform: uppercase !important;
                margin: 0 !important;
                position: relative !important;
                font-size: 15px;
                color: #fff;
                font-weight: 500;
                line-height: 1.6;


                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 13px;
                  width: 15px;
                  height: 1px;
                  background: #777;
                }

                span {
                  display: block !important;
                  box-sizing: border-box;
                  font-family: 'Open Sans', sans-serif;
                  text-transform: uppercase !important;
                  font-size: 15px;
                  color: $textColor;
                  font-weight: 500;
                  line-height: 1.6;
                }

              }

            }
          }
        }
      }
    }
  }

  .separator {
    border: 0;
    border-top: 1px solid $otherBckgrdColor;
    margin: 20px auto 20px;
    width: 40%;
    box-sizing: content-box;
    height: 0;
    overflow: visible;

  }

  .skillsInfo {
    .skillsInfoTitle {
      display: flex;
      justify-content: center;

      h3 {
        padding-bottom: 22px;
        font-size: 26px;
        font-weight: 600;
        text-transform: uppercase !important;
        margin-bottom: 0 !important;
        line-height: 1.2;
        margin-top: 0;
      }
    }

    .skills {
      min-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 5px;
      @media screen and (max-width: 1076px) {
        justify-content: center;
      }
    }
  }

}








