.projectItem{
    background-color: #73e573;
    width: 360px;

}
.button {
    width: 50px;
    background-color: red;
}
.top{
    background-color: darkcyan;
    min-width: 100%;
    min-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.description{
    background-color: darkkhaki;
    margin: 10px;

}