.app {
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
/*.color_block {
    z-index: 0;
    background-color: #ffb400;
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}*/

