.app {
    background-color: #111;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    position: relative;
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 51px;
    line-height: 62px;
    font-weight: 700;
    margin: 18px 0 10px;
    position: relative;
}
h1 span {
    color: #fff;
    display: block;
}
.home {
    color: #ffb400;
}
/*.color_block {
    z-index: 0;
    background-color: #ffb400;
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}*/

