$greenishBlue: #1b8a82;
$orange: #e1724d;
$green: #5f865f;
$rose: #e867b0;
$red: #dc2e2e;
$blue: #5483d9;
$purple: #7810d3;


$textColor: #fff;
$primaryColor: $rose;
$mainBckgrdColor: #111;
$otherBckgrdColor: #2b2a2a;